[user]
	name = Ondrej Zahradnik
	email = ondraz@pm.me
[credential]
	helper = netrc
[init]
   defaultBranch = main
[alias]
  a  = add
  au = add -u
	cm = commit -m
	co = checkout
  d  = diff
	lg = log --pretty=format:'%C(red)(%h)%Creset %C(dim)[%cr | %cd]%Creset %C(green)<%an>%Creset %C(white)%s%Creset %C(magenta)%d%Creset' --abbrev-commit --decorate=short --date=format:'%a, %d %b %Y %H:%M:%S' --first-parent
	s  = status
  sl = stash list
  ss = status --short
  t  = tag
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	autocrlf = input
