@define-color bg          #2e222f;
@define-color bg_alt      #3e3546;
@define-color fg          #9babb2;
@define-color grey        #7f708a;
@define-color accent      #a24b6f;
@define-color teal        #0b8a8f;
@define-color yellow      #f9c22b;
@define-color orange      #f79617;
@define-color olive       #a2a947;
@define-color mauve       #966c6c;
@define-color red         #b33831;
@define-color tray_border #625565;

* {
  font-family: "Hack Nerd Font", monospace;
  font-size: 16px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: @bg;
  color: @fg;
}

#pulseaudio, #mpris, #tray, #memory, #disk,
#custom-language, #custom-network, #clock, #custom-notification, #custom-power {
  padding: 0 9px;
  margin: 5px 2px;
  border-radius: 8px;
  background: @bg;
}

#workspaces { margin-left: 4px; }
#workspaces button {
  padding: 0 9px;
  margin: 5px 2px;
  border-radius: 8px;
  background: @bg;
  color: @accent;
}
#workspaces button.empty  { color: @tray_border; }
#workspaces button.active { color: @teal; }
#workspaces button.urgent { color: @red; }
#workspaces button:hover  { background: @bg_alt; color: @olive; }

#pulseaudio.microphone               { color: @yellow; }
#pulseaudio.microphone.source-muted  { color: @red; }
#mpris                               { color: @orange; }
#mpris.paused                        { color: @mauve; }
#pulseaudio.speaker                  { color: @yellow; }
#pulseaudio.speaker.muted            { color: @red; }
#memory                              { color: @grey; }
#disk                                { color: @grey; }
#custom-language                     { color: @olive; }
#custom-network                      { color: @teal; }
#custom-network.disconnected         { color: @red; }
#custom-network.noping               { color: @orange; }
#clock                               { color: @accent; }
#custom-notification                 { color: @grey; }
#custom-notification.notification,
#custom-notification.dnd-notification,
#custom-notification.inhibited-notification,
#custom-notification.dnd-inhibited-notification { background: @yellow; color: @bg; padding: 0 13px; }
#custom-power                        { background: @red; color: @bg; padding: 0 13px; margin-right: 6px; }

#tray {
  background: @bg;
}
#tray > .needs-attention { background: @yellow; border-radius: 8px; }
#tray menu { background: @bg; color: @accent; }

tooltip {
  background: @bg;
  border: 1px solid @accent;
  border-radius: 6px;
}
tooltip label { color: @accent; }
