@import "dracula.css";

* {
  font-family: Hack Nerd Font;
  font-size: 16px;
}

#waybar {
  color: @text;
  background: transparent;
  margin: 5px 5px;
}

#workspaces {
  background-color: @background;
  border-radius: 1rem;
  margin: 5px;
  margin-left: 1rem;
}

#workspaces button {
  color: @purple;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @cyan;
  border-radius: 1rem;
}

#pulseaudio, #memory, #network, #battery, #clock {
  background-color: @background;
  border-radius: 1rem;
  margin: 5px;
  padding: 0.4rem;
}

#pulseaudio {
  color: @yellow;
}

#memory {
  color: @orange;
}

#network {
  color: @cyan;
}

#battery, #battery.charging {
  color: @pink;
}

#battery.warning:not(.charging) {
  color: @red;
}

#clock {
  color: @purple;
}

