* {
    highlight: bold italic;
    scrollbar: true;

    resurrect-bg0:    #2E222F;
    resurrect-bg1:    #3E3546;
    resurrect-bg2:    #625565;
    resurrect-mauve:  #694F62;
    resurrect-gray:   #7F708A;
    resurrect-white:  #FFFFFF;

    background:                  @resurrect-bg0;
    background-color:            @background;
    foreground:                  @resurrect-white;
    border-color:                @resurrect-gray;
    separatorcolor:              @resurrect-mauve;
    scrollbar-handle:            @resurrect-gray;

    normal-background:           @background;
    normal-foreground:           @foreground;
    alternate-normal-background: @resurrect-bg1;
    alternate-normal-foreground: @foreground;
    selected-normal-background:  @resurrect-bg2;
    selected-normal-foreground:  @resurrect-white;

    active-background:           @resurrect-bg1;
    active-foreground:           @resurrect-gray;
    alternate-active-background: @active-background;
    alternate-active-foreground: @active-foreground;
    selected-active-background:  @resurrect-mauve;
    selected-active-foreground:  @resurrect-white;

    urgent-background:           @resurrect-mauve;
    urgent-foreground:           @resurrect-white;
    alternate-urgent-background: @urgent-background;
    alternate-urgent-foreground: @urgent-foreground;
    selected-urgent-background:  @resurrect-gray;
    selected-urgent-foreground:  @resurrect-bg0;
}

@import "/usr/share/rofi/themes/gruvbox-common.rasinc"
