* {
    highlight: bold italic;
    scrollbar: true;

    resurrect-bg0:          #2E222F;
    resurrect-bg1:          #3E3546;
    resurrect-bg2:          #625565;
    resurrect-fg0:          #AB947A;
    resurrect-fg1:          #AB947A;
    resurrect-magenta:      #A24B6F;
    resurrect-blue:         #0B8A8F;
    resurrect-yellow:       #F9C22B;
    resurrect-orange:       #F79617;
    resurrect-red-dark:     #966C6C;
    resurrect-red-light:    #B33831;
    resurrect-gray:         #625565;

    background:                  @resurrect-bg0;
    background-color:            @background;
    foreground:                  @resurrect-fg1;
    border-color:                @resurrect-magenta;
    separatorcolor:              @resurrect-bg1;
    scrollbar-handle:            @resurrect-magenta;

    normal-background:           @background;
    normal-foreground:           @foreground;
    alternate-normal-background: @resurrect-bg1;
    alternate-normal-foreground: @foreground;
    selected-normal-background:  @resurrect-magenta;
    selected-normal-foreground:  @resurrect-bg0;

    active-background:           @resurrect-blue;
    active-foreground:           @resurrect-bg0;
    alternate-active-background: @active-background;
    alternate-active-foreground: @active-foreground;
    selected-active-background:  @resurrect-yellow;
    selected-active-foreground:  @active-foreground;

    urgent-background:           @resurrect-red-dark;
    urgent-foreground:           @resurrect-bg0;
    alternate-urgent-background: @urgent-background;
    alternate-urgent-foreground: @urgent-foreground;
    selected-urgent-background:  @resurrect-red-light;
    selected-urgent-foreground:  @urgent-foreground;
}

@import "/usr/share/rofi/themes/gruvbox-common.rasinc"
