@import url("file:///etc/xdg/swaync/style.css");

:root {
  --cc-bg: rgb(46, 34, 47);
  --noti-border-color: rgb(162, 75, 111);
  --noti-bg: 62, 53, 70;
  --noti-bg-alpha: 1;
  --noti-bg-darker: rgb(46, 34, 47);
  --noti-bg-hover: rgb(98, 85, 101);
  --noti-bg-focus: rgb(46, 34, 47);
  --noti-close-bg: rgb(98, 85, 101);
  --noti-close-bg-hover: rgb(162, 75, 111);
  --text-color-disabled: rgb(98, 85, 101);
  --bg-selected: rgb(162, 75, 111);
  --border: 2px solid var(--noti-border-color);
  --border-radius: 8px;
  --notification-shadow: none;
}

@define-color cc-bg rgb(46, 34, 47);
@define-color noti-border-color rgb(162, 75, 111);
@define-color noti-bg rgb(62, 53, 70);
@define-color noti-bg-opaque rgb(62, 53, 70);
@define-color noti-bg-darker rgb(46, 34, 47);
@define-color noti-bg-hover rgb(98, 85, 101);
@define-color noti-bg-hover-opaque rgb(98, 85, 101);
@define-color noti-bg-focus rgb(46, 34, 47);
@define-color noti-close-bg rgb(98, 85, 101);
@define-color noti-close-bg-hover rgb(162, 75, 111);
@define-color text-color-disabled rgb(98, 85, 101);
@define-color bg-selected rgb(162, 75, 111);

* {
  font-family: "Hack Nerd Font", monospace;
  font-weight: bold;
}

.notification-group.collapsed.not-expanded {
  opacity: 1;
}

.control-center {
  border: var(--border);
}

.control-center .control-center-list-placeholder {
  opacity: 1;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  font-weight: bold;
}
