@import url("../gtk/palette.css");
window {
    background-color: @bg;
    color: @tan
}

entry {
    background-color: @bg_alt
}

button, image {
    background: none;
    border: none
}

button:hover {
    background-color: @cyan
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted @cyan
}

#math-label {
    font-weight: bold;
    font-size: 16px
}
